{
  "svelteSortOrder" : "options-scripts-markup-styles",
  "svelteStrictMode": false,
  "svelteBracketNewLine": false,
  "svelteAllowShorthand": true,
  "svelteIndentScriptAndStyle": true,
  "trailingComma": 'none',
  "singleQuote": true,
  "printWidth": 90,
  "semi": false
}
